.home{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home .video{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home .video video{
    width: 100%;
    filter: brightness(30%);
}

.home .video .videoTitle{
    position: absolute;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    color: white;
    font-size: 80px;
    font-family: luthier-bold;
    z-index: 50;
    padding: 5%;
}

@media (max-width: 768px) {
    .home .video .videoTitle{
        font-size: 60px;
    }
}

@media (min-width: 1920px) {
    .home .video .videoTitle{
        font-size: 100px;
    }
}

.home .mission{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.6s ease-in-out;
}

.home .mission .our{
    width: 100%;
    display: flex;
    justify-content: center;
    color: #9f5b26;
    margin-top: 20px;
    font-size: 45px;
    font-family: gotham;
}

.home .mission .inspire{
    width: 45%;
    display: flex;
    justify-content: center;
    text-align: center;
    color: black;
    margin-top: 20px;
    font-size: 60px;
    font-family: gotham-bold;
}

.home .mission .section{
    width: 80%;
    height: 100%;
    margin-top: 20px;
    padding: 2%;
    display: flex;
}

.home .mission .section .image{
    width: 50%;
    height: 100%;
    display: flex;
    background-color: rgb(230, 230, 230);
    padding: 20px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.home .mission .section .image img{
    width: 100%
}

.home .mission .section .text{
    width: 50%;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 40px;
    font-family: gotham;
}

.home .mission .section .text .learn{
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    font-family: gotham;
}

.home .mission .section .text .learn:hover{
    color: rgb(85, 85, 85);
}

@media (max-width: 768px) {
    .home .mission .section{
        flex-direction: column;
        align-items: center;
    }
    
    .home .mission .section .image{
        width: 100%;
    }

    .home .mission .section .text{
        width: 100%;
        margin-top: 20px;
    }
}

.home .mission > .title{
    width: 100%;
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-family: gotham-bold;
}

.home .projects{
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: black;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    transition: all 0.6s ease-in-out;
}

.home .projects .title{
    display: flex;
    margin-top: 20px;
    padding-left: 200px;
    font-size: 50px;
    color: white;
    font-family: gotham-bold;
    width: 100%;
}

.home .projects .lstprojects{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    flex-wrap: wrap;
}

.home .projects .lstprojects .project{
    width: 30%;
    height: 100%;
    margin-top: 20px;
    padding: 2%;
    display: flex;
    align-items: center;
}

.home .projects .lstprojects .project .image{
    width: 50%;
    height: 100%;
    display: flex;
    background-color: rgb(36, 36, 36);
    padding: 20px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.home .projects .lstprojects .project img{
    width: 100%;
}

.home .projects .lstprojects .project .text{
    width: 50%;
    height: 100%;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
}

.home .projects .lstprojects .project .text .texts{
    width: 100%;
    margin-bottom: 10px;
}

.home .projects .lstprojects .project .text .texts .title-texts{
    margin-bottom: 10px;
    font-size: 25px;
    font-family: gotham-bold;
    color: #9f5b26;
}

.home .projects .lstprojects .project .text .texts .description-texts{
    font-size: 15px;
    font-family: gotham;
    color: white;
}

.home .projects .lstprojects .project .see{
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    font-family: gotham;
    font-size: 20px;
    color: white;
}

.home .projects .lstprojects .project .see:hover{
    color: rgb(124, 124, 124);
}

@media (max-width: 768px) {
    .home .projects{
        flex-direction: column;
    }
    
    .home .projects .title{
        justify-content: center;
        padding-left: 0px;
    }
    
    .home .projects .lstprojects{
        flex-direction: column;
        align-items: center;
    }
    
    .home .projects .lstprojects .project{
        width: 75%;
        height: 100%;
        margin-top: 20px;
        padding: 2%;
        display: flex;
        align-items: center;
    }
}