.partners{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.partners > .text{
    width: 100%;
    padding: 2%;
    animation: fading 5s infinite;
    min-height: 400px;
}

@keyframes fading {
    0%{
        opacity: 0;
    }

    50%{
        opacity: 1;
    }

    100%{
        opacity: 0;
    }
}